<div class="appearance" data-id="{{ item.id }}">
    <div class="appearance-image">
        <img src="{{ item.image.url }}">
        {{#each item.product_occurrences}}
            <div class="product-indicator" style="top: {{position.y}}%; left: {{position.x}}%;"></div>
        {{/each}}
    </div>
    <div class="appearance-meta">
        <h2><img class="avatar" src="{{ item.subject.avatar.url }}"> {{ item.subject.name }}</h2>
        <h1>{{ item.title }}</h1>
    </div>
</div>

<div class="appearance-products">
    <h1>Products</h1>
    <div class="appearance-products-inner">
    {{#each products}}
        <div class="product">
            <div class="actual">
                <div class="image">
                    <h1>Actual</h1>
                    <img src="{{image.url}}">
                </div>
                <div class="info">
                    <h1>{{ name }}</h1>
                    <h2>{{ brand.name }}</h2>
                </div>
            </div>
            {{#each similars}}
                <div class="similar">
                    <div class="image">
                        <h1>{{ similar_type }}</h1>
                        <img src="{{image.url}}">
                    </div>
                    <div class="info">
                        <h1>{{ name }}</h1>
                        <h2>{{ brand.name }}</h2>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    </div>
</div>