<div class="feed-items">
    {{#each items}}
        <div class="feed-item">
            <img src="{{ image.url }}">
            <h2><img class="avatar" src="{{ subject.avatar.url }}"> {{ subject.name }}</h2>
            <h1><a href="appearance/{{id}}">{{title}}</a></h1>
        </div>
    {{/each}}
</div>